# Ignora la carpeta node_modules
env
tmp
__pychache__
.gitignore
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/db.cpython-310.pyc
__pycache__/test.cpython-310.pyc
models/__pycache__/contribuyente.cpython-310.pyc
.gitignore
.gitignore
